<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Signup Page</title>
</head>
<body>
	<section>
		<div class="container my-3">
			<div class="row">
				<div class="col-md-6 offset-md-3">

					<div class="my-card">
						<div class="container text-center">
							<img class="mx-auto" th:src="@{/img/register_icon.png}" alt="Img" />
						</div>

						<h1 class="heading text-center">Register Here</h1>
						<form th:action="@{/do_register}" method="post"
							th:object="${user}">

							<!-- name -->
							<div class="form-group mt-2">
								<label for="name_field" class="form-label">Name</label> <input
									name="name" th:value="${user.name}" type="text" id="name_field"
									class="form-control" placeholder="Enter your full name"
									required onkeyup="this.value=this.value.toUpperCase();">
							</div>

							<!-- email -->
							<div class="form-group mt-2">
								<label for="email_field" class="form-label">Email</label> <input
									name="email" th:value="${user.email}" type="email"
									id="email_field" class="form-control"
									placeholder="Enter your email" required
									onkeyup="this.value=this.value.toLowerCase();">
							</div>

							<!-- password -->
							<div class="form-group mt-2">
								<label for="password_field" class="form-label">Password</label>
								<input name="password" type="password" id="password_field"
									class="form-control" placeholder="Enter your password" required>
							</div>

							<!-- text area -->
							<div class="form-group mt-2">
								<label for="text_area" class="form-label">About</label>
								<textarea name="about" th:value="${user.about}" id="text_area"
									rows=8 class="form-control"
									placeholder="Write something about yourself"></textarea>
							</div>

							<!-- agreement -->
							<div class="form-check my-2">
								<div class="checkbox-inline" style="text-align: center;">
									<label class="checkbox-inline"><input name="agreement"
										type="checkbox" class="form-check-input" required>Accept
										terms and conditions</label>
								</div>
							</div>

							<!-- buttons -->
							<div class="container mt-2 text-center">
								<div class="row">
									<button type="submit"
										class="btn btn-primary col-md-4 offset-md-1">Submit</button>
									<button type="reset"
										class="btn btn-warning col-md-4 offset-md-1">Reset</button>
								</div>
							</div>

						</form>
					</div>

				</div>
			</div>
		</div>
	</section>
</body>
</html>